body {
    background-color: lightblue;
}

img {
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

#fortuneBox {
    font-family: 'Dancing Script', cursive;
    color: rgb(212, 93, 93);
    position: absolute;
    top: 35vh;
    left: 29vw;  
    width: 41vw;
    height: 10vh;
    font-size: 2.5vw;
    text-align: center;
}
