body {
    font-family: 'Roboto';
    background-color: #161616;
  }

  .status p {
    text-transform: capitalize;
  }

  header {
    margin-bottom: 30px;
  }

  .temp{
    cursor:pointer;
    color:#006dcc;
  }

  .temp:hover{
    color:#005096;
  }

