body {
    background-color: lightblue;
}

img {
    display: block;
    margin: 0 auto;
    width: 80vw;

}

p {
    font-family: 'Dancing Script', cursive;
    color: #000000;
    font-size: 2em;
    position: absolute;
    top: 27vh;
    left: 33vw;  
    width: 33vw;
    height: 30vh;
    font-size: 1vw;
}